.link {
    position: relative;
    display: inline-block;
}

.splitUp {
    overflow: hidden;
    color: black;
    position: relative;
}

.splitUp span {
    display: inline-block;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.35s ease;
    transition-delay: calc(var(--i) * 50ms);
}

.link:hover .splitUp span {
    transform: translateY(-100%);
    opacity: 0;
}

.splitDown {
    color: #ea580c;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    pointer-events: none;
}

.splitDown span {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.35s ease;
    transition-delay: calc(var(--i) * 50ms);
}

.link:hover .splitDown span {
    transform: translateY(0);
    opacity: 1;
}
